<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="Stylesheet" href="{% static 'index.css' %}">
    <title>Document</title>
</head>
<body>
        <nav>
            <ul class="nav-container">
                <li class="nav-item"> <img class="menu-nav" src="{% static 'menu.png' %}"> </li>
                <li class="nav-item"> <img class="back-space" href=""> </li>
            </ul>
        </nav>
</body>
</html>